@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');


body {
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  font-family: 'Be Vietnam Pro', sans-serif;
}

